{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel='stylesheet' href='{% static 'css/core/adminpage_prod.css' %}'>
{% endblock style %}




{% block content %}

<div class='admin_prodlist_title'><strong>발 리스트</strong></div>

<div class='admin_feet_list_container'>
{% for feet in feets %}
    <div>
    <a href='{% url 'feets:feet-admin-update' feet.pk %}'>{{ feet.name }}</a>
    <a href='{%url 'feets:feet-admin-delete' feet.pk %}'>[삭제하기]</a>
    </div>
{% endfor %}
</div>

{% endblock content %}