{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block style %}
<link rel='stylesheet' href='{% static 'css/core/adminpage_prod.css' %}'>
{% endblock style %}




{% block content %}
<form method='post' enctype="multipart/form-data">
    <div class='back_btn'>
        <a onclick='goBack()'><i class="fas fa-arrow-left"></i> 뒤로가기</a>
    </div>
    {% csrf_token %}
<div class='admin_form_container'>
    <div>
    코드{{form.code}}
    </div>
    <div>
    이름{{form.name}}
    </div>
    <div>
    설명{{form.description}}
    </div>
    <div>
    이미지{{form.feet_image}}
    </div>
    <div>
    최대허용체중{{form.weight}}
    </div>
    <div>
    활동등급{{form.mobis_grade|add_class:'form-select'}}
    </div>
    <div>
    사용경험{{form.activity|add_class:'form-select'}}
    </div>
    <div>
    기능{{form.function|add_class:'form-select'}}
    </div>
    <div>
    연령대{{form.age|add_class:'form-select'}}
    </div>
    <div>
    등급{{form.rating|add_class:'form-select'}}
    </div>
    <div>
    방수여부{{form.waterproof|add_class:'form-select'}}
    </div>
    <div>
    가능범위{{form.brand|add_class:'form-select'}}
    </div>
    <div>
    희망하는 활동{{form.hope|add_class:'form-select'}}
    </div>
    <div>
    영상링크{{form.iframe}}
    </div>
    <div>
        <button type='submit' >완료</button>
    </div>
</div>

</form>
{% endblock content %}