{% extends '../base.html' %}
{% load static %}


{% block page_title %}유저스토리|오토복코리아헬스케어{% endblock page_title %}


{% block style %}
<link rel='stylesheet' href='{% static 'css/core/userstory.css' %}'>
{% endblock style %}



{% block content %}



<div class='content_container'>
    <div class='text_container'>
        <div class='en_title'>
            <h2>
                User Story
            </h2>
        </div>
        <div class='ko_title'>
            <h3>
                대퇴의족 사용자
            </h3>
            <h3>
                박지민님의 이야기입니다.
            </h3>
        </div>
        <div class='d-flex'>
            <a onclick="gtag('event','박지민님유저스토리')" class='show_btn' href='https://youtu.be/zb_L1bHZLZ0' target='_blank'><h4>지금 보러가기</h4></a>
        </div>
    </div>
    <div class='img_container'>
        <img class='img_geniumx3' src='{% static 'images/brandstory/geniumx3.png' %}'>
    </div>
    
</div>

<div class='content_container'>
    <div class='text_container'>
        <div class='en_title'>
            <h2>
                User Story
            </h2>
        </div>
        <div class='ko_title'>
            <h3>
                하퇴의족 사용자 
            </h3>
                <h3> Martin의 이야기입니다.
            </h3>
        </div>
        <div class='d-flex'>
            <a onclick="gtag('event','Martin유저스토리')" class='show_btn' href='https://youtu.be/mBa1rrCnOhA' target='_blank'><h4>지금 보러가기</h4></a>
        </div>
    </div>
    <div class='img_container'>
        <img class='img_geniumx3' src='{% static 'images/brandstory/userstory(2).png' %}'>
    </div>
    
</div>

<div class='content_container'>
    <div class='text_container'>
        <div class='en_title'>
            <h2>
                User Story
            </h2>
        </div>
        <div class='ko_title'>
            <h3>
                C-Brace 사용자 
            </h3>
                <h3> 박미숙 교수님의 이야기입니다.
            </h3>
        </div>
        <div class='d-flex'>
            <a onclick="gtag('event','박미숙교수님유저스토리')" class='show_btn' href='https://youtu.be/-Qm-C_ex7mE' target='_blank'><h4>지금 보러가기</h4></a>
        </div>
    </div>
    <div class='img_container'>
        <img class='img_geniumx3' src='{% static 'images/brandstory/userstory(3).png' %}'>
    </div>
    
</div>



{% endblock content %}

{% block jquery %}
$(document).ready(function(){
    localStorage.clear();
})
{% endblock jquery %}