h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
}



.home_container_1 {
    width: 100%;
    height: 600px;
    background-color: rgb(241, 245, 248);
}

.home_container_inner_1 {
    align-items: center;
    width: 100%;
    
}

.home_text_1 {
    display: none;
}











.home_container_2 {
    width: 100%;
    height: 600px;
    background-color: white;
}

.home_container_inner_2 {
    align-items: center;
    width: 100%;
    flex-direction: row;
}


.home_inner_img_2 {
    height: 400px;
}

.home_text_2 {
    display: none;
}

.home_inner_2 {
    display: none;
}







.home_container_3 {
    width: 100%;
    height: 600px;
    background-color: #dedede;
}

.home_container_inner_3 {
    align-items: center;
    width: 100%;
    flex-direction: row;
}


.home_inner_img_3 {
    height: 400px;
    margin-right: 50px;
    display: none;
}

.home_text_3 {
    display: none;
    text-align: center;
}

.start_btn {
    font-size: 20px;
    color: white;
    border: #5Fa0AF 1px solid;
    background-color: #5FA0AF;
    border-radius: 5px;
    padding: 0 8px;
}
.start_btn_box {
    margin-top: 20px;
}

.start_btn:hover {
    color: #5FA0AF;
    background-color: rgb(0,0,0,0);
}

.start_content {
    display: none;
    flex-direction: column;
    color: white;
    
}

.start_content span{
    border: #5Fa0AF 1px solid;
    margin-top: 10px;
    background-color: #5Fa0AF;
    border-radius: 5px;
}

.start_content2 {
    display: none;
    flex-direction: column;
    color: white;
}

.start_content2 span{
    border: #5Fa0AF 1px solid;
    margin-top: 10px;
    background-color: #5Fa0AF;
    border-radius: 5px;
}







.btn_guide_start {
    text-align: center;
    margin-top: 20px;
}

.btn_guide_start a {
    font-size: 13px;
    color: #053282;
    border: #053282 solid 1px;
    padding: 3px 10px;
    border-radius: 5px;
}

.btn_guide_start a:hover {
    color: white;
    background-color: #053282;
}
.mob_header_fixed {
    position: fixed;
    background-color: white;
    width: 100%;
    top:0;
    z-index: 1300;
}

.mob_menu_icon_container {
    margin-top: 50px;
    margin-left: 10px;
}

@media (min-width:1440px) {
    .home_container_inner_1 {
        width: 1440px;
    }
    .home_container_1 {
        justify-content: center;
    }
}

@media (max-width:1140px) {
    .home_inner_img_2 {
        height: 300px;
    }

    .home_inner_img_3 {
        height: 300px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
}

@media (max-width:750px) {
    .home_container_inner_2 {
        flex-direction: column;
    }
    .home_container_inner_3 {
        flex-direction: column;
    }
}

@media (max-width:430px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }
    .home_text_1 {
        width: 255px;
    }
    .home_text_2 {
        width: 323px;
    }
}